@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@500;700&display=swap");

:root {
  --red: #e63946;
  --bright: #f1faee;
  --greyblue: #457b9d;
  --lightblue: #a8dadc;
  --darkblue: #1d3557;
}

* {
  font-family: Kodchasan, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--darkblue);
}

h1 {
  font-size: 65px;
  color: var(--bright);
}

.score-timer {
  color: var(--lightblue);
  width: 800px;
  max-width: 80%;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
}

span {
  display: block;
  text-align: center;
  font-size: 50px;
  padding: 5px;
}

button {
  display: block;
  background-color: var(--greyblue);
  color: #fff;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}
button:hover {
  background-color: var(--darkblue);
}

.wrapper {
  background-color: var(--bright);
  border-radius: 25px;
  width: 800px;
  max-width: 80%;
  box-shadow: 0 0 15px 2px;
}

.question {
  color: var(--red);
  padding: 30px 50px 0px 50px;
  font-size: 35px;
}

.btns-flex {
  height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.hide {
  display: none;
}
